1_Soglasie_na_obrabotku_PDN.pdf
2_Soglasie_na_foto.pdf
3_Soglasie_pravila_meropriatia_Sber_2026.pdf
ВШЭ_Сбер_Форма_ответа_2026_1.docx
ВШЭ_Сбер_Форма_ответа_2026_2.docx
ВШЭ_Сбер_Форма_ответа_2026_АлексеевИН.docx
ВШЭ_Сбер_Форма_ответа_2026_дополнения.md
1.png


__pycache__/
*.pyc
